@font-face {
  font-family: 'bpg_nino_mtavruli_normal';
  src: url(./fonts/bpg_nino_mtavruli_normal.ttf) format('TrueType');
}

@font-face {
  font-family: 'bpg_arial_2009';
  src: url(./fonts/bpg_arial_2009.ttf) format('TrueType');
}

html {
  background-size: cover;
  background: #534571;
}

body {
  font-family: 'bpg_arial_2009';
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'bpg_nino_mtavruli_normal';
}

@tailwind base;
@tailwind components;
@tailwind utilities;
