@font-face {
  font-family: 'bpg_nino_mtavruli_normal';
  src: url(./assets/fonts/bpg_nino_mtavruli_normal.ttf) format('TrueType');
}

@font-face {
  font-family: 'bpg_arial_2009';
  src: url(./assets/fonts/bpg_arial_2009.ttf) format('TrueType');
}

html {
  background-size: cover;
  background: #534571;
}

body {
  font-family: 'bpg_arial_2009';
}

h1,
h2,
h3,
h4,
h5,
h6,
li,
a,
.button {
  font-family: 'bpg_nino_mtavruli_normal';
}
.planet {
  width: 80px;
  height: 80px;
  transform-origin: 200% center;
  position: relative;
  animation: rotate 8s linear infinite;
  margin-left: -40px;
}
.planet::before {
  content: '';
  position: absolute;
  height: 100%;
  width: 100%;
  border: 1px solid white;
  border-radius: 100%;
  background: blue;
  animation: rotate 8s linear reverse infinite;
}
@keyframes rotate {
  100% {
    transform: rotate(360deg);
  }
}

@tailwind base;
@tailwind components;
@tailwind utilities;
